/* common shared styles */
* {
    font-family: 'Poppins', sans-serif;
}

#common-btn {
    font-size: 18px;
    background-color: rgb(252, 96, 39);
    color: #FFF;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0px;
}

#context {
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    color: #313030;
}

main section {
    margin-top: 100px;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
    margin: 150px;
    margin-bottom: 0;
}

.text-container {
    width: 700px;
}

.banner {
    border-left: 4px solid red;
    padding-left: 15px;
}

.banner-title {
    font-size: 50px;
    font-weight: 700;
}

.mission {
    color: orange;
    font-size: 50px;
    font-weight: 600;
}

.banner-img {
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-size: contain;
}

/* main sections styles */
/* my mission style */
.my-mission-title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

#mission-year {
    color: orange;
}

.mission-container {
    display: flex;
    justify-content: space-between;
    width: 1700px;
    margin: auto;
}

.mission-box {
    width: 500px;
    padding: 50px 20px;
}

.mission-box img {
    height: 200px;
}

#mission-1 {
    background-color: rgb(107, 72, 139);
    border-radius: 10px;
}

#mission-2 {
    background-color: skyblue;
    border-radius: 10px;
}

#mission-3 {
    background-color: rgb(253, 131, 192);
    border-radius: 10px;
}

/* Develop without limits-styles */

.develop-no-limit-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.develop-no-limit-empty-div {
    height: 250px;
    width: 150px;
    background-image: url('../images/shape-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

.developer-img img {
    height: 400px;
}

.develop-no-limit-title {
    font-size: 25px;
    width: 180px;
    line-height: 35px;
}

.develop-no-limit-description {
    margin-right: 380px;
}

/* know our global community-styles*/
.know-global-community {
    margin-left: 100px;
}

.know-global-community-container {
    display: flex;
    gap: 160px;
    align-items: center;
}
.know-global-community-title{
    font-size: 25px;
    width: 200px;
    line-height: 35px;
}
.know-global-community-description{
    max-width: 650px;
}
.working-img1 img{
    height: 400px;
}
.know-global-community-empty-div{
    height: 250px;
    width: 500px;
    background-image: url('../images/shape-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

/* how will i execute my plan-styles */
.execute-plan-container{
    display: flex;
    justify-content: space-around;
    width: 1700px;
    margin: auto;
}
.execute-plan-title{
    font-size: 30px;
    text-align: center;
    background-color: skyblue;
    padding: 15px;
    width: 900px;
    margin: auto;
    margin-bottom: 50px;
}
.execute-plan-title-1{
    font-size: 25px;
    text-align: center;
}
.execute-plan-1{
    width: 500px;
}
.execute-plan-1 img{
    height: 300px;
}
.execute-plan-2{
    width: 500px;
}
.execute-plan-2 img{
    height: 400px;
}
#execute-plan-context{
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #313030;
}

/* footer styles */
.footer{
    background-color: black;
    color: #FFF;
    text-align: center;
    height: 200px;
}
.footer-container{
    width: 400px;
    margin: auto;
    padding: 30px 100px 0px 100px;
}
#footer-year{
    color: rgb(214, 27, 214);
}